---

---

<div class="flex flex-col mt-[36px] justify-center items-center dark:bg-[#131532] bg-blue-200 py-[24px]">
  <h3 class="font-sans-serif text-[16px] text-[#a69f9f] dark:text-[#FBFBFB] font-semibold">Building apps for these companies</h3>
  <div class="flex flex-row items-center justify-center h-[100px] mt-[36px] gap-[48px]">
    <a href="https://pegipegi.com" target="_blank" class="hover:opacity-80 hover:cursor-pointer transition-all duration-200">
      <img class="object-fit" src="/images/home/img_pegipegi.png" alt="Pegipegi" />
    </a>
    <a href="https://bisa.ai" target="_blank" class="hover:opacity-80 hover:cursor-pointer transition-all duration-200">
      <img class="object-fit" src="/images/home/img_bisaai.png" alt="BISA AI" />
    </a>
    <a href="https://aptavis.net" target="_blank" class="hover:opacity-80 hover:cursor-pointer transition-all duration-200">
      <img class="object-fit" src="/images/home/img_aptavis.png" alt="Aptavis" />
    </a>
  </div>
</div>