---

---

<div class="flex flex-col mt-[36px] justify-center items-center dark:bg-[#131532] bg-blue-200 py-[24px]">
  <h3 class="font-sans-serif text-[16px] text-[#a69f9f] dark:text-[#FBFBFB] font-semibold">
    Building apps for these companies
  </h3>
  <div class="flex flex-row items-center overflow-x-auto mt-[36px] px-4 gap-[48px]">
    <a href="https://pegipegi.com" target="_blank" class="hover:opacity-80 hover:cursor-pointer transition-all duration-200">
      <img class="object-cover w-[150px]" loading="lazy" src="/images/home/img_pegipegi.webp" alt="Pegipegi" />
    </a>
    <a href="https://bisa.ai" target="_blank" class="hover:opacity-80 hover:cursor-pointer transition-all duration-200">
      <img class="object-cover w-[150px]" loading="lazy" src="/images/home/img_bisaai.webp" alt="BISA AI" />
    </a>
    <a href="https://aptavis.net" target="_blank" class="hover:opacity-80 hover:cursor-pointer transition-all duration-200">
      <img class="object-cover w-[150px]" loading="lazy" src="/images/home/img_aptavis.webp" alt="Aptavis" />
    </a>
  </div>
</div>