---
const name = 'Naufal Fawwaz Andriawan'
---
<section class="container mx-auto px-16 xl:px-60">
  <div class="flex flex-col-reverse md:flex-row items-center justify-center gap-10 md:gap-20 py-20 md:py-[150px]">
    <div class="flex flex-col">
      <h1 class="dark:text-white text-center md:text-left text-black text-4xl font-sans-serif font-light">
        Hello, I am <span class="font-medium">{name}</span>
      </h1>
      <p class="dark:text-white text-center md:text-left text-black mt-4 font-light font-sans-serif">
        As an Android Engineer, I enjoy creating apps that solve problems and delight users. I have more than 4 years of experience in developing Android apps using Kotlin, Modern Architecture, Firebase, and other tools.
      </p>
      <a href="https://www.linkedin.com/in/naufal-fawwaz-andriawan/" target="_blank" class="px-12 rounded-lg py-3 mt-12 mr-auto ml-auto md:ml-0 bg-[#1446B3] text-white font-sans-serif font-medium text-[16px]">
        Download Resume
      </a>
    </div>
    <img src="/images/home/img_profile.png" decoding="async" loading="lazy" class="dark:hidden block w-[250px] h-[250px]" alt="Profile">
    <img src="/images/home/img_profile_dark.png" decoding="async" loading="lazy" class="dark:block hidden w-[250px] h-[250px]" alt="Profile">
  </div>
</section>