---
const { url, title } = Astro.props
const currentPath = Astro.url.pathname
---
<li>
  <a href={url} class={`${currentPath == url ? 'font-medium' : 'font-normal'} dark:text-white text-black text-balance dark:hover:opacity-80 hover:opacity-60 transition-all duration-200 font-sans-serif`}>
    {title}
  </a>
</li>