---
import ProjectItem from "../../components/common/ProjectItem.astro";
import BaseLayout2 from "../../layouts/BaseLayout-2.astro";

let totalProjects = [1, 2, 3, 4, 5, 6]
---

<BaseLayout2 pageTitle="About">
  <section class="px-[36px] py-[48px] w-full flex flex-col">
    <h1 class="text-2xl sm:text-3xl font-sans-serif text-[#222222] dark:text-white font-semibold">
      My Projects
    </h1>
    <button class="flex flex-row mr-auto justify-center items-center mt-6 text-base font-medium font-sans-serif gap-[14px] py-2 px-5 bg-slate-300 rounded-lg">
      Technologies <span><img src="/icons/ic_filter.png" class="w-[24px] h-[24px]" alt=""></span>
    </button>
    <article class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-[16px] mt-6">
      {totalProjects.map((_) => (
        <ProjectItem />
      ))}
    </article>
  </section>
</BaseLayout2>