---
import ProjectItem from "../../components/common/ProjectItem.astro";
import BaseLayout2 from "../../layouts/BaseLayout-2.astro";

let totalProjects = [1, 2, 3, 4, 5, 6]
---

<BaseLayout2 pageTitle="About">
  <section class="px-[36px] py-[48px] w-full flex flex-col">
    <h1 class="text-2xl sm:text-3xl font-sans-serif text-[#222222] dark:text-white font-semibold">
      My Projects
    </h1>
    <select id="countries_multiple" class="mt-6 text-sm rounded-lg w-auto p-2.5 md:w-[30%] hover:cursor-pointer bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      <option selected>Technologies</option>
      <option value="android_development">Android Development</option>
      <option value="kotlin">Kotlin</option>
      <option value="firebase">Firebase</option>
    </select>
    <article class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-[16px] mt-6">
      {totalProjects.map((_) => (
        <ProjectItem />
      ))}
    </article>
  </section>
</BaseLayout2>