---
const socials = [
  {
    name: 'Facebook',
    url: 'https://facebook.com',
    icon: 'ic_facebook.webp'
  },
  {
    name: 'Instagram',
    url: 'https://instagram.com/andriawan245',
    icon: 'ic_instagram.webp'
  },
  {
    name: 'Twitter',
    url: 'https://twitter.com/fawaznaufal23',
    icon: 'ic_twitter.webp'
  },
  {
    name: 'LinkedIn',
    url: 'https://www.linkedin.com/in/naufal-fawwaz-andriawan/',
    icon: 'ic_linkedin.webp'
  }
]
---

<footer class="mt-12 py-[48px] flex flex-col items-center gap-[24px] justify-center">
  <div class="flex flex-row justify-center gap-[35px]">
    {socials.map((social) => (
      <a href={social.url} target="_blank">
        <img src={`/icons/${social.icon}`} decoding="async" loading="lazy" class="w-[30px] h-[30px]" alt={social.name} />
      </a>
    ))}
  </div>
  <p class="font-sans-serif font-medium text-[14px] text-[#222222]">Copyright &copy; 2024 All Right Reserved </p>
</footer>